<a href="https://colab.research.google.com/github/liyin2015/Algorithms-and-Coding-Interviews/blob/master/chapter_python_comparison_sorting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python offers a variety of built-in functions, modules, and libraries to help with comparison, sorint, and selections.

## Comparison operators

In [0]:
# Compare numericals
c1 = 2 < 3
c2 = 2.5 > 3
c1, c2

(True, False)

In [0]:
# Compare strings
c1 = 'ab' < 'bc'
c2 = 'abc' > 'abd'
c3 = 'ab' < 'abab'
c4 = 'abc' != 'abc'
c1, c2, c3, c4

(True, False, True, False)

In [0]:
# Compare Sequences
c1 = [1, 2, 3] < [2, 3]
c2 = (1, 2) > (1, 2, 3)
c3 = [1, 2] == [1, 2]
c1, c2, c3

(True, False, True)

In [0]:
[1, 2, 3] < (2, 3)

TypeError: ignored

In [0]:
{1: 'a', 2:'b'} < {1: 'a', 2:'b', 3:'c'}

TypeError: ignored

## max() and min() built-in functions

max(iterable, *[, key, default])
max(arg1, arg2, *args[, key])
    If one positional argument is provided, it should be an iterable. The largest item in the iterable is returned. If two or more positional arguments are provided, the largest of the positional arguments is returned.

    There are two optional keyword-only arguments. The key argument specifies a one-argument ordering function like that used for list.sort(). The default argument specifies an object to return if the provided iterable is empty. If the iterable is empty and default is not provided, a ValueError is raised.

    If multiple items are maximal, the function returns the first one encountered. This is consistent with other sort-stability preserving tools such as sorted(iterable, key=keyfunc, reverse=True)[0] and heapq.nlargest(1, iterable, key=keyfunc).

    New in version 3.4: The default keyword-only argument.

    Changed in version 3.8: The key can be None.

What is really interesting is that when we pass two iterables such as two lists into the $max$ function, it compares them as they are strings with lexicographical order. This character makes it useful to problem solving sometimes.

In [0]:
# One iterable
lst1 = [4, 8, 9, 20, 3]
max([4, 8, 9, 20, 3])

20

In [0]:
# Two arguments
m1 = max(24, 15)
m2 = max([4, 8, 9, 20, 3], [6, 2, 8])
m3 = max('abc', 'ba')
m1, m2, m3

(24, [6, 2, 8], 'ba')

'ba'

In [0]:
# For dictionary, it defaultly compares with keys, and it returns the key
dict1 = {'a': 5, 'b': 8, 'c': 3}
k1 = max(dict1)
k2 = max(dict1, key=dict1.get)
k3 = max(dict1, key =lambda x: dict1[x])
k1, k2, k3

('c', 'b', 'b')

In [0]:
max([], default=0)

0

## Rich Comparison

In [0]:
from functools import total_ordering

@total_ordering
class Person(object):
    def __init__(self, firstname, lastname):
        self.first = firstname
        self.last = lastname

    def __eq__(self, other):
        return ((self.last, self.first) == (other.last, other.first))
        
    def __ne__(self, other):
        return not (self == other)

    def __lt__(self, other):
        return ((self.last, self.first) < (other.last, other.first))

    def __repr__(self):
        return "%s %s" % (self.first, self.last)

In [36]:
p1 = Person('Li', 'Yin')
p2 = Person('Bella', 'Smith')
p1 > p2

True

## seq.sort() and sorted()

### Basics

In [0]:
# List bulti-in in-place sort
lst = [4, 5, 8, 1, 2, 7]
lst.sort()
lst

[1, 2, 4, 5, 7, 8]

In [0]:
# sorted() out-of-place sorting
lst = [4, 5, 8, 1, 2, 7]
new_lst = sorted(lst)
new_lst, lst

([1, 2, 4, 5, 7, 8], [4, 5, 8, 1, 2, 7])

In [0]:
# cant sort other iterable with .sort()
tup = (3, 6, 8, 2, 78, 1, 23, 45, 9)
tup.sort()

AttributeError: ignored

In [0]:
# Sort iterable with sorted()
fruit = ('apple', 'pear', 'berry', 'peach', 'apricot')
new_fruit = sorted(fruit)
new_fruit

['apple', 'apricot', 'berry', 'peach', 'pear']

In [0]:
tup = (3, 6, 8, 2, 78, 1, 23, 45, 9)

In [0]:
lst = list(tup)
lst.sort()
lst

[1, 2, 3, 6, 8, 9, 23, 45, 78]

In [0]:
## Customize key
def cmp(x, y):
  return y - x

In [59]:
from functools import cmp_to_key
lst = [4, 5, 8, 1, 2, 7]
lst.sort(key=cmp_to_key(cmp))
lst

[8, 7, 5, 4, 2, 1]

### Arguments

In [0]:
# Reverse
lst = [4, 5, 8, 1, 2, 7]
lst.sort(reverse=True)
lst

[8, 7, 5, 4, 2, 1]

In [0]:
class Int(int):
  def __init__(self, val):
    self.val = val
  def __lt__(self, other):
    return other.val < self.val

In [38]:
lst = [Int(4), Int(5), Int(8), Int(1), Int(2), Int(7)]
lst.sort()
lst

[8, 7, 5, 4, 2, 1]

In [0]:
lst = [(8, 1), (5, 7), (4, 1), (1, 3), (2, 4)]

In [52]:
## Trhough a function
def get_key(x):
  return x[1]
new_lst = sorted(lst, key = get_key)
new_lst

[(8, 1), (4, 1), (1, 3), (2, 4), (5, 7)]

In [53]:
# Through lambda function
new_lst = sorted(lst, key = lambda x: x[1])
new_lst

[(8, 1), (4, 1), (1, 3), (2, 4), (5, 7)]

In [54]:
new_lst = sorted(lst, key = lambda x: (x[1], x[0]))
new_lst

[(4, 1), (8, 1), (1, 3), (2, 4), (5, 7)]

In [0]:
# A class
class Student(object):
    def __init__(self, name, grade, age):
        self.name = name
        self.grade = grade
        self.age = age
    
    # To support indexing
    def __getitem__(self, key):
        return (self.name, self.grade, self.age)[key]

    def __repr__(self):
        return repr((self.name, self.grade, self.age))

In [75]:
students = [Student('john', 'A', 15), Student('jane', 'B', 12), Student('dave', 'B', 10)]
sorted(students, key=lambda x: x.age)

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [77]:
# Use operator
from operator import attrgetter
sorted(students, key=attrgetter('age'))

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [78]:
from operator import attrgetter
sorted(students, key=attrgetter('grade', 'age'))

[('john', 'A', 15), ('dave', 'B', 10), ('jane', 'B', 12)]

In [79]:
# Use itemgetter
from operator import itemgetter
sorted(students, key=itemgetter(2))

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [0]:
from collections import defaultdict
import random
dic = defaultdict(lambda: defaultdict(list)) # a dictionary of a dictionary of list dic[a][b] = [3, 1, 2, 4]
for i in range(10):
  a = random.randint(1, 101)
  b = random.randint(1, 101)
  dic[a][b] = [random.randint(1, 101) for _ in range(10)]
print(dic) 
sorted_dic = sorted(dic)
print(sorted_dic)

defaultdict(<function <lambda> at 0x7faf20e3c730>, {72: defaultdict(<class 'list'>, {59: [63, 15, 62, 83, 30, 98, 16, 44, 58, 93]}), 82: defaultdict(<class 'list'>, {70: [89, 49, 47, 63, 90, 1, 7, 9, 78, 10]}), 53: defaultdict(<class 'list'>, {62: [10, 99, 35, 78, 74, 44, 82, 32, 32, 52]}), 78: defaultdict(<class 'list'>, {78: [20, 22, 100, 29, 16, 65, 56, 8, 100, 100]}), 13: defaultdict(<class 'list'>, {44: [4, 81, 17, 92, 44, 49, 72, 24, 13, 64]}), 84: defaultdict(<class 'list'>, {47: [76, 94, 36, 56, 60, 87, 72, 47, 75, 33]}), 49: defaultdict(<class 'list'>, {97: [7, 47, 13, 80, 85, 59, 2, 48, 68, 65]}), 87: defaultdict(<class 'list'>, {61: [31, 72, 71, 63, 19, 84, 78, 80, 97, 85]}), 17: defaultdict(<class 'list'>, {92: [29, 53, 20, 14, 16, 84, 57, 40, 4, 19]}), 54: defaultdict(<class 'list'>, {32: [2, 31, 19, 31, 68, 10, 85, 34, 25, 62]})})
[13, 17, 49, 53, 54, 72, 78, 82, 84, 87]

In [0]:
'''sort_list_of_tuple()'''

lst = [(1, 8, 2), (3, 2, 9), (1, 7, 10), (1, 7, 1), (11, 1, 5), (6, 3, 10), (32, 18, 9)]
sorted_lst = sorted(lst, key = lambda x: x[0]) # sort in the order of the first element, and descresing order of the second element, and incresing of the third element
print(sorted_lst)

[(1, 8, 2), (1, 7, 10), (1, 7, 1), (3, 2, 9), (6, 3, 10), (11, 1, 5), (32, 18, 9)]

In [0]:
lst = [(1, 8, 2), (3, 2, 9), (1, 7, 10), (1, 7, 1), (11, 1, 5), (6, 3, 10), (32, 18, 9)]
sorted_lst = sorted(lst, key = lambda x: (x[0], -x[1], x[2])) # sort in the order of the first element, and descresing order of the second element, and incresing of the third element
print(sorted_lst)

[(1, 8, 2), (1, 7, 1), (1, 7, 10), (3, 2, 9), (6, 3, 10), (11, 1, 5), (32, 18, 9)]